*{
    margin:0;
    padding:0;
    box-sizing:inherit;
}
html{
    /* font-size:92.5%; */
    box-sizing: border-box;
}

body{
    color:aqua;
    /* font-weight: 400; */
    font-family:'Nunito', sans-serif;
    heigth: 100vh;
    /* background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%); */
    /* background-color: #333; */
    display: flex;
    align-items:center;
    /* justify-content: center; */
}

section{
    position: relative;
    /* width: 100rem; */
    /* height: 60rem; */
    padding: 1cm;
    /* padding-color:rgba(141, 25, 102, 0.876) ; */
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.60);
    border-radius: 9px;


}